@font-face {
    font-family: Baloo Bhai;
    src: url(assets/BalooBhai-Regular.ttf);
}

body {
    text-align: center;
    background: url(assets/geometry_red.png);
    font-family: Baloo Bhai;
}

button:focus {
    outline: 0;
}

button {
    font-family: Baloo Bhai;
    color: #be3f48;
    font-size: 20px;
    width: 100px;
    height: 100px;
    border: solid 1px transparent;
    border-radius: 50%;
    margin: 10px;
    background-color: #ffd3b5;
    transition: 0.1s;
}

button:hover {
    background-color: #dcedc2;
    color: #db5d65;
}

button:active {
    background-color: #fdae79;
    color: #be3f48;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 5px 0;
    color: #d61320;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px #FFF;
}

.sketchArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sketchPad {   
    display: grid;
    position: relative;
    background-color: #f3f3f3;
    margin: 0 50px;
    height: 85vh;
    width: 85vh;
    box-shadow: 5px 5px 10px 5px #be3f48;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 85vh;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(5, 1fr);
    place-items: center;
    height: 85vh;
}


#pickerHeader {
    color: #be3f48;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    font-weight: normal;
}

#colorPickArea {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffd3b5;
    padding: 5px 40px 5px 40px;
    align-self: end;
    border-radius: 5%;
} 

#colorPicker {
    width: 80px;
    height: 50px;
    align-self: stretch;
}

.squareDiv {
    background-color: #fff;
    border: solid 0.5px #f3f3f3;
}

#red {
    background-color: red;
    border: solid 5px #ffd3b5;
}

#blue {
    background-color: blue;
    border: solid 5px #ffd3b5;
}

#yellow {
    background-color: yellow;
    border: solid 5px #ffd3b5;
}

#purple {
    background-color: purple;
    border: solid 5px #ffd3b5;
}

#green {
    background-color: green;
    border: solid 5px #ffd3b5;
}

#orange {
    background-color: orange;
    border: solid 5px #ffd3b5;
}

#red:hover, #blue:hover, #yellow:hover, #purple:hover, #green:hover, #orange:hover {
    border-color: #dcedc2;
}

#red:active, #blue:active, #yellow:active, #purple:active, #green:active, #orange:active {
    border-color: #fdae79;
}
